<%- include('../partials/head'); %>

<section class="container">
    <%- include('../partials/header'); %>

    <div class="jumbotron">
        <h1>Bienvenue sur mon API</h1>
        <ul>
            <% interventions.forEach(function(interv) { %>
                <li>
                    <strong>
                        <%= interv.motif %>
                    </strong>
                    à <%= interv.lieu %> le <%= interv.date %>
                </li>
            
            <% }); %>

        </ul>
    </div>
</section>


<%- include('../partials/footer'); %>